
{% extends 'base-portal.html' %}
{% load static %}

{% block title %}Gallery{% endblock %}
    {% block content %}
        <div class="container-fluid position-relative p-0">
            <div class="container-fluid bg-breadcrumb">
                <div class="container text-center py-5" style="max-width: 900px;">
                    <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Gallery</h4>
                    <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active text-grey">Gallery</li>
                    </ol>    
                </div>
            </div>
        </div>
        
        <div class="container-fluid gallery">
            <div class="container py-5">
                <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="display-5 mb-2">Our Events</h4>
                </div>
                <div class="row g-4">
                    <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
                        <a href="#">
                            <div class="gallery-item">
                                <div class="gallery-img">
                                    <img src="{% static 'images/portal/gallery/4.jpg' %}" class="img-fluid rounded w-100" alt="Image">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.4s">
                        <a href="#">
                            <div class="gallery-item">
                                <div class="gallery-img">
                                    <img src="{% static 'images/portal/gallery/8.jpg' %}" class="img-fluid rounded w-100" alt="Image">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.6s">
                        <a href="#">
                            <div class="gallery-item">
                                <div class="gallery-img">
                                    <img src="{% static 'images/portal/gallery/5.jpg' %}" class="img-fluid rounded w-100" alt="Image">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.8s">
                        <a href="#">
                            <div class="gallery-item">
                                <div class="gallery-img">
                                    <img src="{% static 'images/portal/gallery/7.jpg' %}" class="img-fluid rounded w-100" alt="Image">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
                        <a href="#">
                            <div class="gallery-item">
                                <div class="gallery-img">
                                    <img src="{% static 'images/portal/gallery/banner1.jpeg' %}" class="img-fluid rounded w-100" alt="Image">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.4s">
                        <a href="#">
                            <div class="gallery-item">
                                <div class="gallery-img">
                                    <img src="{% static 'images/portal/gallery/banner2.jpg' %}" class="img-fluid rounded w-100" alt="Image">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.6s">
                        <a href="#">
                            <div class="gallery-item">
                                <div class="gallery-img">
                                    <img src="{% static 'images/portal/gallery/banner3.jpg' %}" class="img-fluid rounded w-100" alt="Image">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.8s">
                        <a href="#">
                            <div class="gallery-item">
                                <div class="gallery-img">
                                    <img src="{% static 'images/portal/gallery/8.jpg' %}" class="img-fluid rounded w-100" alt="Image">
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="img-popup">
            <div class="prev-btn">&#10094;</div>
                <div class="popup-wrapper">
                    <div class="close-btn">&times;</div>
                    <img src="" alt="Popup Image">
                </div>
            <div class="next-btn">&#10095;</div>
        </div>
        {% endblock %}

        {% block portal_page_js %}
        <script>
            $(document).ready(function () {
                const images = $('.gallery-img img');
                const popup = $('.img-popup');
                const popupImg = $('.popup-wrapper img');
                let currentIndex = 0;

                // OPEN POPUP
                images.on('click', function () {
                    currentIndex = images.index(this);
                    let imgSrc = $(this).attr('src');
                    popupImg.attr('src', imgSrc);
                    popup.addClass('opened');
                });

                // CLOSE BUTTON
                $('.close-btn').on('click', function (e) {
                e.stopPropagation();
                popup.removeClass('opened');
                });

                // CLOSE WHEN CLICK BACKGROUND
                popup.on('click', function (e) {

                if ($(e.target).is('.img-popup')) {
                    popup.removeClass('opened');
                }
                });

                // PREVENT IMAGE CLICK CLOSE
                popupImg.on('click', function (e) {
                e.stopPropagation();
                });

                // SHOW IMAGE FUNCTION
                function showImage(index) {
                // LOOP NEXT
                if (index >= images.length) {
                    currentIndex = 0;
                }
                // LOOP PREV
                else if (index < 0) {
                    currentIndex = images.length - 1;
                }
                else {
                    currentIndex = index;
                }
                // CHANGE IMAGE
                let newImgSrc = $(images[currentIndex]).attr('src');
                popupImg.attr('src', newImgSrc);
                }
                // NEXT BUTTON
                $('.next-btn').on('click', function (e) {
                e.stopPropagation();
                showImage(currentIndex + 1);
                });
                // PREVIOUS BUTTON
                $('.prev-btn').on('click', function (e) {
                e.stopPropagation();
                showImage(currentIndex - 1);
                });
                // KEYBOARD SUPPORT
                $(document).on('keydown', function (e) {
                // ONLY WHEN POPUP OPEN
                if (!popup.hasClass('opened')) return;
                // RIGHT ARROW
                if (e.key === 'ArrowRight') {
                    showImage(currentIndex + 1);
                }
                // LEFT ARROW
                if (e.key === 'ArrowLeft') {
                    showImage(currentIndex - 1);
                }
                // ESC KEY
                if (e.key === 'Escape') {
                    popup.removeClass('opened');
                }
                });
                // MOBILE SWIPE SUPPORT
                let touchStartX = 0;
                let touchEndX = 0;
                // TOUCH START
                popup.on('touchstart', function (e) {
                touchStartX = e.originalEvent.changedTouches[0].screenX;
                });
                // TOUCH END
                popup.on('touchend', function (e) {
                touchEndX = e.originalEvent.changedTouches[0].screenX;
                handleSwipe();
                });
                // SWIPE FUNCTION
                function handleSwipe() {
                // SWIPE LEFT = NEXT
                if (touchEndX < touchStartX - 50) {
                    showImage(currentIndex + 1);
                }
                // SWIPE RIGHT = PREV
                if (touchEndX > touchStartX + 50) {
                    showImage(currentIndex - 1);
                }
                }
            });
        </script>
        {% endblock %}
   
