{% extends 'base-portal.html' %}
{% load static %}

{% block title %}Payment Error{% endblock %}

    {% block content %}
        <div class="container-fluid about py-3">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-xl-12 col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="bg-light p-3 rounded h-100 wow fadeInUp">
                          <h4 class="text-primary">Transaction Summary</h4>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="card card-stats card-round">
                                  <div class="card-body">
                                    <div class="row">
                                        <h4 class="text-danger">Payment Failed!</h4>
                                        <p>Your payment could not be processed.</p>
                                      <div class="table-responsive">
                                        <table class="display table table-bordered table-head-bg-light">
                                          <tbody>
                                            <tr>
                                              <td class="text-dark"><strong>Service Number</strong></td>
                                              <td class="text-dark"><strong>123456</strong></td>
                                            </tr>
                                            <tr>
                                              <td class="text-dark">Reference Id</td>
                                              <td class="text-dark">Tsf5Wd1643673</td>
                                            </tr>
                                            <tr>
                                              <td class="text-dark">Amount</td>
                                              <td class="text-dark">16020</td>
                                            </tr>
                                            <tr>
                                              <td class="text-dark">Status</td>
                                              <td class="text-danger">Failed</td>
                                            </tr>
                                            <tr>
                                              <td class="text-dark">Date & Time</td>
                                              <td class="text-dark">01 Jul 2026 10:24:49</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      <div class="d-print-none">
                                        <p class="text-center pt-2">
                                          <button type="submit" class="btn btn-info btn-sm mb-1" name="submit" id="submit"><strong>Print</strong></button>
                                          <button type="submit" class="btn btn-warning btn-sm mb-1" name="submit" id="submit"><strong>Download</strong></button>
                                          <button type="submit" class="btn btn-outline-dark btn-sm mb-1" name="submit" id="submit"><strong>Back to Home</strong></button>
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}